body {
  font-family: 'Raleway', sans-serif;
}

.RichTextEditor__editor___1QqIU .public-DraftEditor-content {
  min-height: 150px;
}

img {
  width: 100%;
}

.text-light-green {
  color: #7feeb4;
}

.brand-name {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bold;
}

.nav-username {
  color: #000;
  font-size: 13px;
}

.btn-theme-primary {
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 3px;
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.navbar-brand.brand-name {
  font-size: 22px;
  background-image: -webkit-linear-gradient(left, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  background-image: linear-gradient(to right, #8fd3f4 0%, #8fd3f4 41%, #84fab0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing {
  position: relative;
  background: url('./img/landing-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100vh;
  margin-top: -24px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, .45);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.landing-btn {
  margin: 20px 10px 10px 10px;
  padding: 18px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 3px;
  display: inline-block;
}

.landing-btn__signup {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  box-shadow: none;
}

.landing-btn__login {}

.landing-btn__login:hover,
.landing-btn__signup:hover {
  color:#fff;
  text-decoration: none;
}

.landing-btn__login:hover {
  color: #aaa;
}

.landing-btn__signup:hover {
  color:#0d7b4c;
}

.features-icons {
  padding: 60px 0;
}

.features-icons-icon i {
  font-size: 50px;
}

.features-icons-icon i:before {
  color:#81e7c2 ;
}

.profile-header {
  background-image: -webkit-linear-gradient(to right, #8fd3f4 0%, #8fd3f4 41%, #84fab0 100%);
  background-image: linear-gradient(to right, #8fd3f4 0%, #8fd3f4 41%, #84fab0 100%);
  border: none;
}

.fa-thumbs-up.text-success:before {
  color: #80edb7;
}

.post-form .card-header {
  background: #8fd3f4 ;
  border: none;
}

.dashboard .btn-group i:before {
  color: #495057;
  opacity: .8;
}

.profile-action-buttons a {
  background-color: #e9ecef;
  color: #495057;
  font-size: 13px;
  font-weight: 700;
}

.dashboard-username a {
  color: #c7c7c7;
  font-weight: 700;
  font-size: 21px;
  margin-left: 5px;
}

.dashboard-username a i {
  font-size: 14px;
}

@media (max-width: 479px) {
  .landing {
    background-position: left top;
  }
  .landing h1 {
    font-size: 30px;
  }
  .landing h1 ~ .lead {
    font-size: 16px;
  } 

  .dark-overlay {
    background-color: rgba(0, 0, 0, .7)
  }

  .profiles h1 {
    font-size: 30px;
  }

  .profiles h1 ~ .lead {
    font-size: 16px;
  }

  .profiles .card {
    text-align-last: center;
  }

  .profiles .card img {
    max-width: 120px;
    margin: 0 auto;
  }

  .profiles .profiles-info {
    margin: 0 auto;
  }

  .jobs .card .col {
    display: block;
    flex: none;
    width: 100%;
    text-align: center;
    padding: 8px 0;
  }

  .jobs .btn-theme-primary {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  .job-content .btn-theme-primary {
    width: 100% !important;
  }

  .auth-links .nav-item {
    margin: 6px 0;
    width: 100%;
  }
  
  .auth-links .nav-item .nav-link {
    background-color: transparent !important;
    box-shadow: none !important;
    padding-left: 8px !important;
  }
  .dashboard .btn-group {
    flex: none;
    display: block;
  }

  .dashboard .btn-group a {
    display: block;
    border-radius: 0;
  }

  .job-post h1 {
    font-size: 30px;
  }

  .job-post h1 ~ .lead {
    font-size: 16px;
  }
} 